html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}
.navbar-nav{
     padding: 10px 0 9px 20px;
}
.navbar-nav.navbar-right{
    line-height: 50px;
    padding-right: 20px;
}
.navbar-default{
    background-color: #ffffff;
}
.main {
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
#map-canvas{
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.leftContainer{
    width: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 25px 50px;
    z-index: 999;
    background-color: rgba(248,248,248,0.65);
    border-right: 2px solid #e7e7e7;
}
.table-results{
    padding: 20px;
    display: none;
}
#view-btn:hover{
    opacity: 1;
}
#view-btn{
    position: fixed;
    top: 75px;
    right: 100px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    display: block;
    color: #fff;
    opacity: 0.8;
    width: 85px;
    height: 30px;
    cursor: pointer;
    background-color: #3e8f3e;
    z-index: 100;
}
