html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
.main {
    padding-top: 70px;
    height: 100%;
    width: inherit;
    position: absolute;
}
#map-canvas{
    height: 100%;
    width: 100%;
}
.table-results{
    padding: 20px;
    display: none;
}
#view-btn{
    position: fixed;
    top: 75px;
    right: 100px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    display: block;
    color: #fff;
    opacity: 0.8;
    width: 85px;
    height: 30px;
    cursor: pointer;
    background-color: #3e8f3e;
    z-index: 100;
}
#view-btn:hover{
    opacity: 1;
}
.navbar{
    padding: 10px 0;
}
.leftContainer{
    width: 30%;
    overflow-y: auto;
    overflow-x: hidden;
	margin: 0px;
	position: absolute;
    left: 0;
    top: 70px;
    bottom: 0;
	padding: 10px;
	z-index: 100;
	background: white;
	opacity:0.9;
	filter:alpha(opacity=40);
}
.trackingTxt{
	padding: 30px;
}
