<div id="caseContainer" class="leftContainer" >
	<!-- Login div -->
	<div id="logIn" class="row text-center">
		<h3 >Welcome Back!</h3>
		<form id="login" class="form-horizontal col-md-12" role="form" ng-submit="login()">
		  <div class="form-group">
		    <label for="userName" class="col-sm-3 control-label">Username</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="userName" ng-model="user.name" placeholder="Username" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="password" class="col-sm-3 control-label">Password</label>
		    <div class="col-sm-9">
		      <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-10">
		      <button type="submit" id ="signIn" class="btn btn-default btn-success btn-sm">Sign in</button>
		    </div>
		  </div>
		</form>
	</div>
	<!-- Request invitation div -->
	<div id="register" class="row text-center">
		<div class="message"></div>
		<h3>Request invitation</h3>
		<h6 >Bla bla bla bla bla bla bla, bla for request an invitation bla bla bla</h6>
		<button id="saveUser" type="button" class="btn btn-default btn-success btn-sm">Send request</button>
	</div>

</div>


<script type="text/javascript">
$("#signIn").click(function(){
	console.log("login");
	logIn();

});
$("#saveUser").click(function(){
	console.log("save user");
	saveUser();
});


function saveUser()
{

		_username = $("#newUserName").val();
		_password = $("#newPassword").val();

		p2 = $("#newPassword2").val();
		if(_password!=p2){
		  	alert("Passwords do not match");
		    return
		}else{
		   _password = CryptoJS.MD5(_password).toString();
		 }
		_profession = $("#profession option:selected").text();
		_state =$("#state option:selected").text();
		_email =$("#email").val();

		$.ajax({
				url: "http://safetrails.herokuapp.com/u/save.php",
				   type: "POST",
				   data:{
					   username:_username,
					   password:_password,
					   profession: _profession,
					   state:_state,
					   county:"test_county",
					   email:_email
					},
				   xhrFields: {
				      withCredentials: false
				   },
				   crossDomain: true,
				   success: function(data){
				   		console.log(data);
				   		a = $.parseJSON(data);
				   		console.log(a);
				   		if(a.response=="success"){
				   			console.log("entro");
				   			$(".message").html("User created.");
				   		}else{
				   			$(".message").html("error creating user");
				   		}
				   }
				});
}

</script>