<div class="leftContainer" >
  <!-- Login div -->
  <div class="row text-center">
    <h3 >Welcome Back!</h3>
    <form id="login" class="form-horizontal col-sm-12" role="form" ng-submit="login()">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="username" data-ng-model="username" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" data-ng-model="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button type="submit" id ="signIn" class="btn btn-default btn-success">Sign in</button>
        </div>
      </div>
    </form>
  </div>
  <!-- Request invitation div -->
  <!-- TODO: functional request button -->
</div>


