
<div id="caseContainer" class="leftContainer" >
	<div id="statistics" class="row text-center">
		<h3 >Statistics</h3>
		<div id="tabs" class="row text-center">
			<button type="button" id ="gral" class="btn btn-default" onClick="generals()">General</button>
			<button type="button" id ="tend" class="btn btn-default" onClick="specials()">Tendencies</button>
		</div>
		<div id="controls" class="row text-right"></div>
		<div id="stats" class="row text-center">
			<p style="font: 20 px; font-family: sans-serif">
				<br>
				Welcome to the statistics system. For general statistics,<br>
				please click on the general statistics tab.<br>
				For more advanced statistics and tendencies, click on the<br>
				tendencies tab. Please wait while the data loads ...
			</p>
		</div>
	</div>
</div>



