<div id="loading-data"></div>
<div class="leftContainer statistics" >
  <div id="statistics" class="row text-center">

    <h4 >Statistics</h4>

    <div id="tabs" class="row text-center">
      <button type="button" id ="gral" class="btn btn-default" onClick="generals()">General</button>
      <button type="button" id ="tend" class="btn btn-default" onClick="specials()">Tendencies</button>
    </div>
    <div id="statsContainer" class="row" >

      <div id="stats" class="col-md-10">

      </div>
      <form id="statSelectorForm" class="form-horizontal col-md-2" style="padding-top: 50px;">
        <div id="controls" class="form-group"></div>
      </form> 
    </div>

  </div>
</div>
